body {
    /* body of the website styling */
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url('background.jpg');
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    margin-left: 7pc;
    margin-right: 7pc;
    background-color: rgb(99, 211, 211);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
