body{
    background-color: oldlace;
    text-align: center;
}

h1{
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
}

.button{
    padding: 25px;
    border-width: 20px;
    margin: 10px;
    text-align: center;
}

.Text{
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    justify-content: center;
    margin-left: 4cm;
    margin-right: 4cm;

}

.accordion {
    background-color: rgb(236, 202, 172);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 70%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  .active, .accordion:hover {
    background-color: #ccc;
  }

  .panel {
    padding: 0 18px;
    background-color: rgb(219, 175, 175);
    display: none;
    overflow: hidden;

  }
